//- include partials/navbar.pug


block content
  .heading
    h3 Register
  .user-form
    form(method="POST")
      .form-group
        label(for='email') Email
        input.form-control#email(
          type='text'
          name='email'
          placeholder-=''
          required
        )
      .form-group
        label(for='password') Password
        input.form-control#password(
          type='text'
          name='password'
          placeholder=''
          required
        )
      .user-form_submit
        input.btn.btn-info.lg(type='submit' value='Submit')
